<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1>To Do's</h1>

    <ul>
        <li>This is where todos will eventually go</li>
    </ul>

    <form action="/createToDo" method='POST'>
        <input type="text" placeholder="Enter To Do Item" name='todoItem'>
        <input type="submit">
    </form>
</body>
</html>