h1{
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.completed{
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}

.todoItem{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}